.team {
  .team__wrapper {
    padding-top: calc(72 * (100vw / 960));
    padding-bottom: calc(72 * (100vw / 960));
  }

  .team__top {
    margin-bottom: calc(38 * (100vw / 960));

    .section__title {
      width: calc(585.5 * (100vw / 960));
    }
  }

  .team__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .team__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      width: calc(201.5 * (100vw / 960));

      padding: calc(12 * (100vw / 960)) calc(12 * (100vw / 960))
        calc(14 * (100vw / 960));

      background-color: #fff;
      border-radius: calc(12.5 * (100vw / 960));

      .team__image {
        width: calc(177.5 * (100vw / 960));
        height: calc(195 * (100vw / 960));

        margin-bottom: calc(12 * (100vw / 960));

        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
          border-radius: calc(7.5 * (100vw / 960));
        }
      }

      .team__content {
        .heading-6 {
          color: $theme-color;
          margin-bottom: calc(4 * (100vw / 960));
        }

        .team__description {
          margin-bottom: calc(12 * (100vw / 960));
        }

        .team__btn {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  //calc(15px + 7.5 * ((100vw - 375px) / 585))

  .team {
    .team__wrapper {
      padding: calc(72px + 36 * ((100vw - 375px) / 585)) 0px;
    }

    .team__top {
      margin-bottom: calc(36px + 56 * ((100vw - 375px) / 585));

      .section__title {
        width: 100%;
      }
    }

    .team__list {
      justify-content: flex-start;
      flex-direction: column;

      gap: calc(24px + 37 * ((100vw - 375px) / 585));

      .team__item {
        width: 100%;

        padding: calc(16px + 25 * ((100vw - 375px) / 585));

        border-radius: calc(15px + 23 * ((100vw - 375px) / 585));

        .team__image {
          width: 100%;
          height: calc(205px + 320 * ((100vw - 375px) / 585));

          margin-bottom: calc(16px + 25 * ((100vw - 375px) / 585));

          img {
            object-fit: cover;
            border-radius: calc(8px + 12 * ((100vw - 375px) / 585));
          }
        }

        .team__content {
          .heading-6 {
            margin-bottom: calc(8px + 12 * ((100vw - 375px) / 585));
          }

          .team__description {
            margin-bottom: calc(16px + 25 * ((100vw - 375px) / 585));
          }
        }
      }
    }
  }
}
