.popup {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 999;

  &.show {
    display: block;
  }

  .popup__title {
    color: $theme-color;
    margin-bottom: calc(4 * (100vw / 960));
  }

  .popup__text {
    width: calc(240 * (100vw / 960));
    text-align: center;
    margin-bottom: calc(18 * (100vw / 960));

    font-size: calc(10 * (100vw / 960));
    line-height: 140%;
  }

  .popup__body {
    height: 100%;
    width: 100%;

    background-color: rgba($color: $heading-color, $alpha: 0.6);
  }

  .popup__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: calc(28 * (100vw / 960));

    padding-right: calc(18 * (100vw / 960));
    padding-left: calc(18 * (100vw / 960));
    padding-top: calc(15 * (100vw / 960));
    padding-bottom: calc(31 * (100vw / 960));

    width: calc(400 * (100vw / 960));
  }

  .popup__form {
    width: calc(336 * (100vw / 960));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form__privacy-policies {
      width: calc(206 * (100vw / 960));
      text-align: center;
    }
  }

  .popup__close {
    align-self: flex-end;
    cursor: pointer;

    svg {
      stroke: $text-color;
      width: calc(10.5 * (100vw / 960));
      height: calc(10.5 * (100vw / 960));
    }
  }
}

@media screen and (max-width: 960px) {
  .popup {
    .popup__close {
      margin-bottom: calc(10px + 3 * ((100vw - 768px) / 192));

      svg {
        width: calc(16px + 4 * ((100vw - 768px) / 192));
        height: calc(16px + 4 * ((100vw - 768px) / 192));
      }
    }

    .popup__content {
      border-radius: calc(15px + 4 * ((100vw - 768px) / 192));

      padding-right: calc(12px + 3 * ((100vw - 768px) / 192));
      padding-left: calc(12px + 3 * ((100vw - 768px) / 192));
      padding-top: calc(12px + 3 * ((100vw - 768px) / 192));
      padding-bottom: calc(36px + 9 * ((100vw - 768px) / 192));

      width: calc(480px + 120 * ((100vw - 768px) / 192));
    }

    .popup__title {
      margin-bottom: calc(8px + 2 * ((100vw - 768px) / 192));
    }

    .popup__text {
      width: calc(447px + 112 * ((100vw - 768px) / 192));
      margin-bottom: calc(24px + 6 * ((100vw - 768px) / 192));

      font-size: calc(15px + 4 * ((100vw - 768px) / 192));
    }

    .popup__form {
      width: calc(447px + 112 * ((100vw - 768px) / 192));

      .form__privacy-policies {
        width: calc(280px + 70 * ((100vw - 768px) / 192));
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .popup {
    .popup__close {
      margin-bottom: calc(10px + 10 * ((100vw - 375px) / 392));

      svg {
        width: calc(16px + 17 * ((100vw - 375px) / 392));
        height: calc(16px + 17 * ((100vw - 375px) / 392));
      }
    }

    .popup__content {
      border-radius: calc(15px + 16 * ((100vw - 375px) / 392));

      padding-right: calc(12px + 13 * ((100vw - 375px) / 392));
      padding-left: calc(12px + 13 * ((100vw - 375px) / 392));
      padding-top: calc(12px + 13 * ((100vw - 375px) / 392));
      padding-bottom: calc(36px + 38 * ((100vw - 375px) / 392));

      width: calc(343px + 359 * ((100vw - 375px) / 392));
    }

    .popup__title {
      margin-bottom: calc(8px + 8 * ((100vw - 375px) / 392));
    }

    .popup__text {
      width: calc(310px + 324 * ((100vw - 375px) / 392));
      margin-bottom: calc(24px + 25 * ((100vw - 375px) / 392));

      font-size: calc(15px + 16 * ((100vw - 375px) / 392));
    }

    .popup__form {
      width: calc(310px + 324 * ((100vw - 375px) / 392));

      .form__privacy-policies {
        width: calc(280px + 293 * ((100vw - 375px) / 392));
      }
    }
  }
}
