.projects {
  .projects__wrapper {
    padding-top: calc(90 * (100vw / 960));
    padding-bottom: calc(60 * (100vw / 960));
  }

  .projects__top {
    margin-bottom: calc(38 * (100vw / 960));

    .section__title {
      width: calc(606 * (100vw / 960));
    }
  }

  .projects__item {
    width: 100%;
    display: flex;
    flex-shrink: 0;

    min-height: calc(454.5 * (100vw / 960));

    border-radius: calc(12.5 * (100vw / 960));

    background-color: #fff;

    .project__image {
      width: calc(421 * (100vw / 960));
      height: calc(454.5 * (100vw / 960));

      img {
        display: block;

        width: 100%;
        height: 100%;

        object-fit: cover;

        border-top-left-radius: calc(12.5 * (100vw / 960));
        border-top-right-radius: calc(12.5 * (100vw / 960));
        border-bottom-right-radius: calc(12.5 * (100vw / 960));
      }
    }
    .project__content {
      width: calc(439 * (100vw / 960));
      .project__text {
        padding-top: calc(28 * (100vw / 960));
        padding-right: calc(32 * (100vw / 960));
        padding-bottom: calc(16 * (100vw / 960));
        padding-left: calc(32 * (100vw / 960));
      }

      .project__statics {
        background-color: $theme-color;

        padding-top: calc(21 * (100vw / 960));
        padding-right: calc(32 * (100vw / 960));
        padding-bottom: calc(21 * (100vw / 960));
        padding-left: calc(32 * (100vw / 960));

        border-bottom-left-radius: calc(12.5 * (100vw / 960));
      }
    }

    .project__text {
      .project__title {
        margin-bottom: calc(18 * (100vw / 960));
      }

      .project__description {
        font-family: "Manrope", sans-serif;
        font-size: calc(10.5 * (100vw / 960));
        font-weight: 500;
        font-style: normal;
        line-height: 133%;
        letter-spacing: -0.05em;
        color: $text-color;

        width: calc(324.5 * (100vw / 960));

        gap: calc(12 * (100vw / 960));

        margin-bottom: calc(18 * (100vw / 960));
      }
    }

    .project__statics {
      color: #fff;
      gap: calc(16 * (100vw / 960));

      .statics__item {
        width: calc(114.5 * (100vw / 960));
      }

      .statics__amount {
        font-family: "Manrope", sans-serif;
        font-size: calc(28 * (100vw / 960));
        font-weight: 600;
        font-style: normal;
        line-height: 95%;
        letter-spacing: -0.03em;
        margin-bottom: calc(4 * (100vw / 960));
      }

      .statics__text {
        font-family: "Manrope", sans-serif;
        font-size: calc(9 * (100vw / 960));
        font-weight: 500;
        font-style: normal;
        line-height: 133%;
        letter-spacing: -0.05em;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .projects {
    .projects__container {
      padding: 0;
    }

    .projects__wrapper {
      padding-top: calc(72px + 18 * ((100vw - 768px) / 192));
      padding-bottom: calc(72px + 18 * ((100vw - 768px) / 192));
    }

    .projects__top {
      width: 100%;
      padding-left: calc(16px + 4 * ((100vw - 768px) / 192));
      padding-right: calc(16px + 4 * ((100vw - 768px) / 192));

      margin-bottom: calc(36px + 9 * ((100vw - 768px) / 192));

      .section__title {
        width: 100%;
      }
    }

    .projects__item {
      display: flex;
      flex-direction: column;

      min-height: auto;

      border-radius: calc(16px + 4 * ((100vw - 768px) / 192));

      padding: calc(16px + 4 * ((100vw - 768px) / 192));

      .project__image {
        width: 100%;
        height: calc(450px + 113 * ((100vw - 768px) / 192));

        img {
          border-radius: calc(15px + 4 * ((100vw - 768px) / 192));
        }
      }
      .project__content {
        width: 100%;
        margin-bottom: calc(16px + 4 * ((100vw - 768px) / 192));

        .project__text {
          padding: 0;
          margin-bottom: calc(24px + 6 * ((100vw - 768px) / 192));
        }

        .project__statics {
          flex-direction: column;
          padding: calc(16px + 4 * ((100vw - 768px) / 192));
          border-radius: calc(15px + 4 * ((100vw - 768px) / 192));
        }
      }

      .project__text {
        .project__title {
          margin-bottom: calc(16px + 4 * ((100vw - 768px) / 192));
        }

        .project__description {
          font-size: calc(18px + 5 * ((100vw - 768px) / 192));
          width: calc(420px + 105 * ((100vw - 768px) / 192));

          gap: calc(8px + 2 * ((100vw - 768px) / 192));

          margin-bottom: calc(16px + 4 * ((100vw - 768px) / 192));
        }
      }

      .project__statics {
        color: #fff;
        gap: calc(16px + 4 * ((100vw - 768px) / 192));

        .statics__item {
          width: 100%;
        }

        .statics__amount {
          font-size: calc(21px + 5 * ((100vw - 768px) / 192));
          margin-bottom: calc(8px + 2 * ((100vw - 768px) / 192));
        }

        .statics__text {
          width: calc(214px + 54 * ((100vw - 375px) / 585));
          font-size: calc(15px + 4 * ((100vw - 768px) / 192));
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .projects {
    .projects__container {
      padding: 0;
    }

    .projects__wrapper {
      padding-top: calc(72px + 75 * ((100vw - 375px) / 392));
      padding-bottom: calc(72px + 75 * ((100vw - 375px) / 392));
    }

    .projects__top {
      width: 100%;
      padding-left: calc(16px + 17 * ((100vw - 375px) / 392));
      padding-right: calc(16px + 17 * ((100vw - 375px) / 392));

      margin-bottom: calc(36px + 38 * ((100vw - 375px) / 392));
    }

    .projects__item {
      border-radius: calc(16px + 17 * ((100vw - 375px) / 392));

      padding: calc(16px + 17 * ((100vw - 375px) / 392));

      .project__image {
        height: calc(220px + 230 * ((100vw - 375px) / 392));

        img {
          border-radius: calc(15px + 16 * ((100vw - 375px) / 392));
        }
      }
      .project__content {
        width: 100%;
        margin-bottom: calc(16px + 17 * ((100vw - 375px) / 392));

        .project__text {
          margin-bottom: calc(24px + 25 * ((100vw - 375px) / 392));
        }

        .project__statics {
          padding: calc(16px + 17 * ((100vw - 375px) / 392));
          border-radius: calc(15px + 16 * ((100vw - 375px) / 392));
        }
      }

      .project__text {
        .project__title {
          margin-bottom: calc(16px + 17 * ((100vw - 375px) / 392));
        }

        .project__description {
          font-size: calc(16px + 17 * ((100vw - 375px) / 392));
          width: calc(313px + 327 * ((100vw - 375px) / 392));

          gap: calc(8px + 8 * ((100vw - 375px) / 392));

          margin-bottom: calc(16px + 17 * ((100vw - 375px) / 392));
        }
      }

      .project__statics {
        gap: calc(16px + 17 * ((100vw - 375px) / 392));

        .statics__item {
          width: 100%;
        }

        .statics__amount {
          font-size: calc(21px + 22 * ((100vw - 375px) / 392));
          margin-bottom: calc(8px + 8 * ((100vw - 375px) / 392));
        }

        .statics__text {
          width: calc(214px + 224 * ((100vw - 375px) / 392));
          font-size: calc(15px + 16 * ((100vw - 375px) / 392));
        }
      }
    }
  }
}
