.logos {
  .logos__wrapper {
    padding-top: calc(43 * (100vw / 960));
    padding-bottom: calc(123 * (100vw / 960));
  }

  .logos__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: calc(36 * (100vw / 960));

    .subtitle {
      margin-bottom: calc(12 * (100vw / 960));
    }

    .logos__title {
      width: calc(567.5 * (100vw / 960));
    }

    .logos__description {
      width: calc(247.5 * (100vw / 960));
    }
  }

  .logos__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(18 * (100vw / 960)) 0;

    .logos__item {
      width: calc(201.5 * (100vw / 960));
      height: calc(150 * (100vw / 960));

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      border: calc(0.5 * (100vw / 960)) solid $border-color;
      border-radius: calc(12.5 * (100vw / 960));

      img {
        height: auto;
      }

      .heading-6 {
        color: $theme-color;
        margin-top: calc(4 * (100vw / 960));
      }

      &.logos__item--last {
        background-color: $heading-color;
        border: none;

        .heading-6 {
          margin-top: 0px;
          margin-bottom: calc(4 * (100vw / 960));

          color: #fff;
        }

        .logos__item-description {
          color: #d9d9d9;
          width: calc(172.5 * (100vw / 960));

          text-align: center;
          line-height: 140%;
        }
      }
    }
  }
}
