.logos {
  .logos__wrapper {
    padding-top: calc(43 * (100vw / 960));
    padding-bottom: calc(123 * (100vw / 960));
  }

  .logos__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: calc(36 * (100vw / 960));

    .logos__title {
      width: calc(567.5 * (100vw / 960));
    }

    .logos__description {
      width: calc(247.5 * (100vw / 960));
    }
  }

  .logos__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calc(18 * (100vw / 960)) 0;

    .logos__item {
      width: calc(201.5 * (100vw / 960));
      height: calc(150 * (100vw / 960));

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      border: calc(0.5 * (100vw / 960)) solid $border-color;
      border-radius: calc(12.5 * (100vw / 960));

      img {
        height: auto;
        margin-bottom: calc(4 * (100vw / 960));
      }

      .heading-6 {
        color: $theme-color;
      }

      &.logos__item--last {
        background-color: $heading-color;
        border: none;

        .heading-6 {
          margin-bottom: calc(4 * (100vw / 960));

          color: #fff;
        }

        .logos__item-description {
          color: #d9d9d9;
          width: calc(172.5 * (100vw / 960));

          text-align: center;
          line-height: 140%;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  //calc(15px + 7.5 * ((100vw - 375px) / 585))

  .logos {
    .logos__wrapper {
      padding-top: calc(100px + 25 * ((100vw - 768px) / 192));
      padding-bottom: calc(90px + 23 * ((100vw - 768px) / 192));
    }

    .logos__top {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      margin-bottom: calc(36px + 9 * ((100vw - 768px) / 192));

      .logos__title,
      .logos__description {
        width: 100%;
      }

      .logos__title {
        margin-bottom: calc(16px + 4 * ((100vw - 768px) / 192));
      }
    }

    .logos__list {
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      gap: calc(12px + 3 * ((100vw - 768px) / 192)) 0;

      .logos__item {
        width: calc(328px + 80 * ((100vw - 768px) / 192));
        height: calc(246px + 62 * ((100vw - 768px) / 192));

        border-width: calc(0.4px + 0.6 * ((100vw - 375px) / 585));
        border-radius: calc(10px + 16 * ((100vw - 375px) / 585));

        img {
          margin-bottom: calc(6px + 9 * ((100vw - 375px) / 585));
        }

        .heading-6 {
          font-size: calc(15px + 23 * ((100vw - 375px) / 585));
        }

        &.logos__item--last {
          .heading-6 {
            margin-bottom: calc(4 * (100vw / 960));
          }

          .logos__item-description {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  //calc(15px + 7.5 * ((100vw - 375px) / 585))

  .logos {
    .logos__wrapper {
      padding-top: calc(100px + 105 * ((100vw - 375px) / 392));
      padding-bottom: calc(90px + 94 * ((100vw - 375px) / 392));
    }

    .logos__top {
      margin-bottom: calc(36px + 38 * ((100vw - 375px) / 392));

      .logos__title,
      .logos__description {
        width: 100%;
      }

      .logos__title {
        margin-bottom: calc(16px + 17 * ((100vw - 375px) / 392));
      }
    }

    .logos__list {
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      gap: calc(12px + 13 * ((100vw - 375px) / 392)) 0;

      .logos__item {
        width: calc(160px + 167 * ((100vw - 375px) / 392));
        height: calc(120px + 125 * ((100vw - 375px) / 392));

        border-width: calc(0.4px + 0.4 * ((100vw - 375px) / 392));
        border-radius: calc(10px + 5 * ((100vw - 375px) / 392));

        img {
          margin-bottom: calc(6px + 6 * ((100vw - 375px) / 392));
        }

        .heading-6 {
          font-size: calc(15px + 16 * ((100vw - 375px) / 392));
        }
      }
    }
  }
}
