.products {
  overflow: hidden;

  .products__wrapper {
    padding: calc(104 * (100vw / 960)) 0px calc(72 * (100vw / 960));
  }

  .products__top {
    margin-bottom: calc(38 * (100vw / 960));

    .products__subtitle {
      width: calc(219.5 * (100vw / 960));
    }

    .section__title {
      width: calc(442 * (100vw / 960));
    }

    .products__description {
      width: calc(201.5 * (100vw / 960));
    }
  }

  .horizontal-scrolling__items {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    margin-bottom: calc(33 * (100vw / 960));

    .swiper-wrapper {
      gap: calc(18 * (100vw / 960));
    }
  }

  .horizontal-scrolling__progress-bar {
    position: relative;
    width: 100%;

    &::before {
      display: block;
      content: "";

      position: absolute;
      top: 50%;
      right: 0;
      left: 0;

      height: 1px;
      background-color: rgba($color: #fff, $alpha: 0.5);
      border-radius: 2px;

      z-index: -1;
    }

    .progress__bar {
      display: block;

      width: 0;

      height: 3px;
      background-color: #fff;
      border-radius: 2px;
    }
  }

  .products__item {
    width: calc(274.5 * (100vw / 960));
    flex-shrink: 0;

    padding-top: calc(18 * (100vw / 960));
    padding-bottom: calc(18 * (100vw / 960));
    padding-left: calc(18 * (100vw / 960));
    padding-right: calc(14.5 * (100vw / 960));

    background-color: #fff;
    border-radius: calc(12.5 * (100vw / 960));

    &:first-child {
      margin-left: calc(219.5 * (100vw / 960));
    }

    .item__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: calc(18 * (100vw / 960));

      .heading-6 {
        color: $theme-color;
      }
    }

    .item__icon {
      svg {
        width: calc(42 * (100vw / 960));
        height: calc(42 * (100vw / 960));
      }
    }

    .item__description {
      display: flex;
      flex-direction: column;
      gap: calc(8 * (100vw / 960));

      margin-bottom: calc(18 * (100vw / 960));
    }

    .item__button {
      width: 100%;

      .btn {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  //calc(15px + 7.5 * ((100vw - 768) / 392))

  .products {
    overflow: hidden;

    .products__wrapper {
      padding-bottom: calc(72px + 18 * ((100vw - 768px) / 192));
      padding-top: calc(100px + 25 * ((100vw - 768px) / 192));
    }

    .products__top {
      flex-direction: column;
      margin-bottom: calc(36px + 9 * ((100vw - 768px) / 192));

      .products__subtitle,
      .section__title {
        width: 100%;
      }

      .products__description {
        width: calc(420px + 105 * ((100vw - 768px) / 192));
      }

      .section__title {
        margin-bottom: calc(16px + 4 * ((100vw - 768px) / 192));
      }
    }

    .horizontal-scrolling__items {
      width: 100%;
      margin-bottom: calc(36px + 9 * ((100vw - 768px) / 192));

      .swiper-wrapper {
        gap: 0;
      }
    }

    .horizontal-scrolling__progress-bar {
      background: none;

      &::before {
        height: 2px;
        top: 44%;
      }

      .swiper-pagination-progressbar-fill {
        background-color: #fff;
        border-radius: 8px;
      }
    }

    .products__item {
      width: calc(343px + 535.08 * ((100vw - 768px) / 192));

      padding-top: calc(24px + 6 * ((100vw - 768px) / 192));
      padding-bottom: calc(24px + 6 * ((100vw - 768px) / 192));
      padding-left: calc(16px + 4 * ((100vw - 768px) / 192));
      padding-right: calc(16px + 4 * ((100vw - 768px) / 192));

      border-radius: calc(15px + 4 * ((100vw - 768px) / 192));

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:first-child {
        margin-left: 0px;
      }

      .item__title {
        margin-bottom: calc(16px + 4 * ((100vw - 768px) / 192));
      }

      .item__icon {
        svg {
          width: calc(56px + 14 * ((100vw - 768px) / 192));
          height: calc(56px + 14 * ((100vw - 768px) / 192));
        }
      }

      .item__description {
        gap: calc(8px + 2 * ((100vw - 768px) / 192));

        margin-bottom: calc(16px + 4 * ((100vw - 768px) / 192));
      }

      .item__button {
        width: 100%;

        .btn {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  //calc(15px + 7.5 * ((100vw - 375px) / 392))

  .products {
    overflow: hidden;

    .products__wrapper {
      padding-bottom: calc(72px + 75 * ((100vw - 375px) / 392));
      padding-top: calc(100px + 104 * ((100vw - 375px) / 392));
    }

    .products__top {
      margin-bottom: calc(36px + 38 * ((100vw - 375px) / 392));

      .products__description {
        width: calc(302px + 316 * ((100vw - 375px) / 392));
      }

      .section__title {
        margin-bottom: calc(16px + 17 * ((100vw - 375px) / 392));
      }
    }

    .horizontal-scrolling__items {
      width: 100%;
      margin-bottom: calc(36px + 38 * ((100vw - 375px) / 392));
    }

    .horizontal-scrolling__progress-bar {
      background: none;

      &::before {
        height: 2px;
        top: 44%;
      }

      .swiper-pagination-progressbar-fill {
        background-color: #fff;
        border-radius: 8px;
      }
    }

    .products__item {
      width: calc(343px + 359 * ((100vw - 375px) / 392));

      padding-top: calc(24px + 25 * ((100vw - 375px) / 392));
      padding-bottom: calc(24px + 25 * ((100vw - 375px) / 392));
      padding-left: calc(16px + 17 * ((100vw - 375px) / 392));
      padding-right: calc(16px + 17 * ((100vw - 375px) / 392));

      border-radius: calc(15px + 16 * ((100vw - 375px) / 392));

      .item__title {
        margin-bottom: calc(16px + 17 * ((100vw - 375px) / 392));
      }

      .item__icon {
        svg {
          width: calc(56px + 59 * ((100vw - 375px) / 392));
          height: calc(56px + 59 * ((100vw - 375px) / 392));
        }
      }

      .item__description {
        gap: calc(8px + 8 * ((100vw - 375px) / 392));

        margin-bottom: calc(16px + 17 * ((100vw - 375px) / 392));
      }
    }
  }
}
