.products {
  overflow: hidden;

  .products__wrapper {
    padding: calc(104 * (100vw / 960)) 0px calc(72 * (100vw / 960));
  }

  .products__top {
    margin-bottom: calc(38 * (100vw / 960));

    .products__subtitle {
      flex: 0 0 calc(219.5 * (100vw / 960));
    }

    .section__title {
      flex: 0 0 calc(442 * (100vw / 960));
    }

    .products__description {
      flex: 0 0 calc(201.5 * (100vw / 960));
    }
  }

  .products__list {
    .list__items {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      gap: calc(18 * (100vw / 960));

      margin-bottom: calc(33 * (100vw / 960));

      padding-left: calc(219.5 * (100vw / 960));
    }

    .list__progress {
      position: relative;
      width: 100%;

      &::before {
        display: block;
        content: "";

        position: absolute;
        top: 50%;
        right: 0;
        left: 0;

        height: 1px;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border-radius: 2px;

        z-index: -1;
      }

      .progress__bar {
        display: block;

        width: 696px;

        height: 3px;
        background-color: #fff;
        border-radius: 2px;
      }
    }
  }

  .products__item {
    flex: 0 0 calc(274.5 * (100vw / 960));

    padding-top: calc(18 * (100vw / 960));
    padding-bottom: calc(18 * (100vw / 960));
    padding-left: calc(18 * (100vw / 960));
    padding-right: calc(14.5 * (100vw / 960));

    background-color: #fff;
    border-radius: calc(12.5 * (100vw / 960));

    .item__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: calc(18 * (100vw / 960));

      .heading-6 {
        color: $theme-color;
      }
    }

    .item__icon {
      svg {
        width: calc(42 * (100vw / 960));
        height: calc(42 * (100vw / 960));
      }
    }

    .item__description {
      display: flex;
      flex-direction: column;
      gap: calc(8 * (100vw / 960));

      margin-bottom: calc(18 * (100vw / 960));
    }

    .item__button {
      width: 100%;

      .btn {
        width: 100%;
      }
    }
  }
}
