*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 360px;
  overflow-x: hidden;

  font-family: "Manrope", sans-serif;
  font-size: calc(9 * (100vw / 960));
  font-weight: 500;
  font-style: normal;
  line-height: 133%;
  letter-spacing: -0.05em;
  color: $text-color;

  &.noscroll {
    overflow: hidden;
  }
}

@media screen and (max-width: 960px) {
  body {
    font-size: calc(15px + 23.4 * ((100vw - 375px) / 585));
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 0px calc(50 * (100vw / 960));
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .container {
    padding-left: calc(16px + 8 * ((100vw - 375px) / 585));
    padding-right: calc(16px + 8 * ((100vw - 375px) / 585));
  }
}

.wrapper {
  height: 100%;
}

section {
  &.section--rounded {
    border-radius: calc(28 * (100vw / 960));
    position: relative;
    z-index: 100;

    & + & {
      z-index: 90;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.section--white {
    background-color: $light-background-color;

    & + section.section--white {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      padding-top: calc(28 * (100vw / 960));
    }
  }

  &.section--blue {
    background-color: $theme-color;

    .section__title {
      color: #fff;
    }

    .text--regular {
      color: #fff;
    }
  }

  &.section--grey {
    background-color: $heading-color;

    .section__title {
      color: #fff;
    }

    .text--regular {
      color: #fff;
    }
  }

  & + section {
    margin-top: calc(-28 * (100vw / 960));
  }

  &.section--rounded + &.section--no-rounded {
    padding-top: calc(28 * (100vw / 960));
    margin-bottom: calc(-28 * (100vw / 960));
  }
}

@media screen and (max-width: 960px) {
  section {
    &.section--rounded {
      border-radius: calc(15px + 23 * ((100vw - 375px) / 585));
      position: relative;
      z-index: 100;

      & + & {
        z-index: 90;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &.section--white {
      background-color: $light-background-color;

      & + section.section--white {
        padding-top: calc(56px + 87 * ((100vw - 375px) / 585));
      }
    }

    & + section {
      margin-top: calc(-56px - 87 * ((100vw - 375px) / 585));
    }

    &.section--rounded + &.section--no-rounded {
      padding-top: calc(56px + 87 * ((100vw - 375px) / 585));
      margin-bottom: calc(-56px - 87 * ((100vw - 375px) / 585));
    }
  }
}

svg {
  display: block;
}

body :not(.intial-colors) {
  > svg {
    path {
      fill: inherit;
      stroke: inherit;
    }
  }
}

/* STYLES FOR LOGO */
.logo {
  display: flex;
  align-items: center;
  color: #fff;

  .logo__image {
    padding-right: 0.9375vw;
    border-right: 1px solid rgba($color: #fff, $alpha: 0.4);

    img {
      width: calc(70 * (100vw / 960));
      height: auto;

      display: block;
    }
  }

  .logo__tagline {
    width: calc(121 * (100vw / 960));
    padding-left: 0.9375vw;
  }
}

@media screen and (max-width: 960px) {
  .logo {
    .logo__image {
      padding-right: 0;
      border-right: none;

      img {
        width: auto;
        height: calc(47px + 23.5 * ((100vw - 375px) / 585));

        display: block;
      }
    }

    .logo__tagline {
      display: none;
    }
  }
}

/* STYLES FOR TEXT */
@import "./text/text";

/* STYLES FOR WRAPPERS */
@import "./wrapper/wrapper";

/* STYLES FOR BUTTONS */
@import "./buttons/buttons";

/* STYLES FOR TABS */
@import "./tabs/tabs";

/* STYLES FOR SWIPER */
@import "./swiper/swiper";

/* STYLES FOR FORM */
@import "./form/form";

/* STYLES FOR BURGER MENU */
@import "./burger-menu/burger-menu";

/* STYLES FOR PRELOADER */
@import "./preloader/preloader";

/* STYLES FOR POPUP */
@import "./popup/popup";

/* STYLES FOR POPUP */
@import "./accordion/accordion";
