*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 360px;
  overflow-x: hidden;

  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 133%;
  letter-spacing: -0.9px;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 89.583vw;
  margin: 0 auto;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 100%;
    padding: 0px 24px;
  }
}

.wrapper {
  height: 100%;
}

section {
  &.section--rounded {
    border-radius: 56px;
    position: relative;
    z-index: 100;

    & + & {
      z-index: 90;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.section--white {
    background-color: #fff;
  }

  &.section--blue {
    background-color: $theme-color;

    .section__title {
      color: #fff;
    }

    .text--regular {
      color: #fff;
    }
  }

  &.section--grey {
    background-color: $heading-color;

    .section__title {
      color: #fff;
    }

    .text--regular {
      color: #fff;
    }
  }

  & + section {
    margin-top: -56px;
  }

  &.section--rounded + &.section--no-rounded {
    padding-top: 56px;
  }
}

body :not(.intial-colors) {
  > svg {
    path {
      fill: inherit;
      stroke: inherit;
    }
  }
}

/* STYLES FOR TEXT */
@import "./text/text";

/* STYLES FOR WRAPPERS */
@import "./wrapper/wrapper";

/* STYLES FOR BUTTONS */
@import "./buttons/buttons";

/* STYLES FOR TABS */
@import "./tabs/tabs";
