.hero {
  height: 100vh;
  position: relative;
  color: #fff;

  .hero__lines {
    .vertical-line {
      position: absolute;
      border-top: 1px solid rgba($color: #fff, $alpha: 0.1);

      top: calc(63 * (100vw / 960));
      left: 0px;
      right: 0px;
    }

    .horizontal-line {
      position: absolute;
      top: 0px;
      bottom: 0px;

      border-right: 1px solid rgba($color: #fff, $alpha: 0.1);

      &.horizontal-line--first {
        left: calc(50 * (100vw / 960));
      }

      &.horizontal-line--second {
        top: calc(63 * (100vw / 960));
        left: calc(386 * (100vw / 960));
      }

      &.horizontal-line--third {
        right: calc(50 * (100vw / 960));
      }
    }
  }

  .hero__video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;

    video {
      display: block;
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .hero__content {
    height: 100%;
    z-index: 1;

    background-color: rgba($color: #2c3e54, $alpha: 0.75);
  }

  .hero__header {
    flex: 0 0 auto;
    padding: calc(16 * (100vw / 960));

    align-items: stretch;

    .header__logo {
      display: flex;
      align-items: center;

      .logo__image {
        padding-right: 0.9375vw;
        border-right: 1px solid rgba($color: #fff, $alpha: 0.4);

        img {
          width: calc(70 * (100vw / 960));
          height: auto;

          display: block;
        }
      }

      .logo__tagline {
        width: calc(121 * (100vw / 960));
        padding-left: 0.9375vw;
      }
    }

    .header__navigation {
      a {
        margin: 0px;
        font-family: "Manrope", sans-serif;
        font-size: calc(8 * (100vw / 960));
        font-weight: 600;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.02em;
        text-decoration: none;

        display: block;
        padding: calc(6 * (100vw / 960)) calc(8 * (100vw / 960));

        border-radius: calc(125 * (100vw / 960));

        color: #fff;
        transition: all 0.3s linear;

        &:hover,
        &:focus,
        &.active {
          background-color: $accent-color;
          color: $heading-color;
        }
      }

      .navigation__menu {
        list-style: none;
        background-color: rgba($color: #fff, $alpha: 0.12);
        padding: calc(4 * (100vw / 960));
        gap: calc(4 * (100vw / 960));

        border-radius: calc(25 * (100vw / 960));
      }
    }

    .header__actions {
      display: flex;
      align-items: stretch;

      gap: calc(6 * (100vw / 960));
    }
  }

  .hero__cta {
    flex: 1 1 auto;
    padding: calc(38.5 * (100vw / 960)) 0px calc(71 * (100vw / 960));

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    .cta__subtitle {
      width: 100%;
      margin-bottom: calc(38.5 * (100vw / 960));

      .subtitle__niche {
        flex: 0 0 calc(336 * (100vw / 960));
      }

      .subtitle__niche-text {
        background-image: url("../images/border-corners.svg");

        background-repeat: no-repeat;
        background-size: 100%;

        padding: calc(6 * (100vw / 960)) calc(8 * (100vw / 960));

        font-family: "Manrope", sans-serif;
        font-size: calc(10 * (100vw / 960));
        line-height: 140%;
        font-weight: 500;
        letter-spacing: -0.03em;

        span {
          max-width: calc(168.5 * (100vw / 960));
        }

        .subtitle__niche-icon {
          width: calc(26 * (100vw / 960));
          height: calc(26 * (100vw / 960));

          margin-right: calc(6 * (100vw / 960));

          display: inline-flex;
          align-items: center;
          justify-content: center;

          border-radius: 100%;
          background: linear-gradient(
            156deg,
            rgba($color: #fff, $alpha: 0.35),
            rgba($color: #fff, $alpha: 0)
          );

          svg {
            width: calc(16 * (100vw / 960));
            height: calc(16 * (100vw / 960));
            fill: #fff;
          }
        }
      }

      .subtitle__description {
        flex: 0 0 calc(178.5 * (100vw / 960));

        font-size: calc(10 * (100vw / 960));
        font-weight: 500;
        font-style: normal;
        line-height: 130%;
        letter-spacing: -0.02em;
      }
    }

    .cta__content {
      gap: 36px;
      width: 100%;
    }

    .cta__title {
      flex: 1 1 auto;

      color: #fff;
    }
  }
}
