.hero {
  height: 100vh;
  position: relative;
  color: #fff;

  .hero__lines {
    .vertical-line {
      position: absolute;
      border-top: 1px solid rgba($color: #fff, $alpha: 0.1);

      top: calc(63 * (100vw / 960));
      left: 0px;
      right: 0px;
    }

    .horizontal-line {
      position: absolute;
      top: 0px;
      bottom: 0px;

      border-right: 1px solid rgba($color: #fff, $alpha: 0.1);

      &.horizontal-line--first {
        left: calc(50 * (100vw / 960));
      }

      &.horizontal-line--second {
        top: calc(63 * (100vw / 960));
        left: calc(416 * (100vw / 960));
      }

      &.horizontal-line--third {
        right: calc(50 * (100vw / 960));
      }
    }
  }

  .hero__video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;

    video {
      display: block;
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .hero__content {
    height: 100%;
    z-index: 1;

    background-color: rgba($color: #2c3e54, $alpha: 0.75);
  }

  .hero__header {
    flex: 0 0 auto;
    padding: calc(16 * (100vw / 960));

    align-items: stretch;

    .header__navigation {
      a {
        margin: 0px;
        font-family: "Manrope", sans-serif;
        font-size: calc(8 * (100vw / 960));
        font-weight: 600;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.02em;
        text-decoration: none;

        display: block;
        padding: calc(6 * (100vw / 960)) calc(8 * (100vw / 960));

        border-radius: calc(125 * (100vw / 960));

        color: #fff;
        transition: all 0.3s linear;

        &:hover,
        &:focus,
        &.active {
          background-color: $accent-color;
          color: $heading-color;
        }
      }

      .navigation__menu {
        list-style: none;
        background-color: rgba($color: #fff, $alpha: 0.12);
        padding: calc(4 * (100vw / 960));
        gap: calc(4 * (100vw / 960));

        border-radius: calc(25 * (100vw / 960));
      }
    }

    .header__actions {
      display: flex;
      align-items: stretch;

      gap: calc(6 * (100vw / 960));
    }

    .header__burger-btn {
      display: none;
    }
  }

  .hero__cta {
    flex: 1 1 auto;
    padding: calc(38.5 * (100vw / 960)) 0px calc(71 * (100vw / 960));

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    .cta__subtitle-niche {
      width: calc(366 * (100vw / 960));

      .subtitle__text {
        background-image: url("../images/border-corners.svg");

        background-repeat: no-repeat;
        background-size: 100%;

        padding: calc(6 * (100vw / 960)) calc(8 * (100vw / 960));

        font-family: "Manrope", sans-serif;
        font-size: calc(10 * (100vw / 960));
        line-height: 140%;
        font-weight: 500;
        letter-spacing: -0.03em;

        span {
          max-width: calc(168.5 * (100vw / 960));
        }
      }

      .subtitle__niche-icon {
        width: calc(26 * (100vw / 960));
        height: calc(26 * (100vw / 960));

        margin-right: calc(6 * (100vw / 960));

        display: inline-flex;
        align-items: center;
        justify-content: center;

        border-radius: 100%;
        background: linear-gradient(
          156deg,
          rgba($color: #fff, $alpha: 0.35),
          rgba($color: #fff, $alpha: 0)
        );

        svg {
          width: calc(16 * (100vw / 960));
          height: calc(16 * (100vw / 960));
          fill: #fff;
        }
      }
    }

    .cta__subtitle-description {
      width: calc(471 * (100vw / 960));

      font-size: calc(10 * (100vw / 960));
      font-weight: 500;
      font-style: normal;
      line-height: 130%;
      letter-spacing: -0.02em;

      p {
        width: calc(178.5 * (100vw / 960));
      }
    }

    .cta__content {
      gap: calc(38.5 * (100vw / 960)) 0;
      width: 100%;
    }

    .cta__title {
      flex: 1 1 auto;

      color: #fff;
    }
  }
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
    .hero__lines {
      display: none;
    }

    .hero__header {
      padding: calc(16px + 8 * ((100vw - 375px) / 585)) 0px;

      .header__navigation {
        display: none;
      }

      .header__actions {
        display: flex;
        align-items: stretch;

        gap: calc(8px + 13 * ((100vw - 375px) / 585));

        .btn__cta {
          display: none;
        }
      }

      .header__burger-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(58px + 90 * ((100vw - 375px) / 585));
        height: calc(58px + 90 * ((100vw - 375px) / 585));
        background-color: $theme-color;
        border: none;
        border-radius: 100%;

        svg {
          fill: #fff;
        }
      }
    }

    .hero__cta {
      padding-top: calc(56px + 28 * ((100vw - 375px) / 585));
      padding-bottom: calc(112px + 174 * ((100vw - 375px) / 585));

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      .cta__subtitle-niche {
        order: 0;
        width: 100%;

        .subtitle__text {
          background-image: none;
          padding: 0;

          font-family: "Manrope", sans-serif;
          font-size: calc(16px + 25 * ((100vw - 375px) / 585));
          line-height: 133%;

          span {
            max-width: 100%;
          }
        }

        .subtitle__niche-icon {
          width: calc(42px + 66 * ((100vw - 375px) / 585));
          height: calc(42px + 66 * ((100vw - 375px) / 585));
          flex-shrink: 0;

          margin-right: calc(12px + 19 * ((100vw - 375px) / 585));

          svg {
            width: calc(26px + 40 * ((100vw - 375px) / 585));
            height: calc(26px + 40 * ((100vw - 375px) / 585));
          }
        }
      }

      .cta__subtitle-description {
        width: 100%;
        flex-shrink: 0;
        order: 3;

        font-size: calc(15px + 23 * ((100vw - 375px) / 585));
        line-height: 133%;

        p {
          width: calc(285px + 445 * ((100vw - 375px) / 585));
        }
      }

      .cta__content {
        gap: calc(16px + 25 * ((100vw - 375px) / 585));
      }

      .cta__button {
        margin-top: calc(8px + 12 * ((100vw - 375px) / 585));
        order: 3;
      }

      .cta__title {
        order: 1;
      }
    }
  }
}
