.tabs-section {
  .tabs-section__wrapper {
    padding: 133px 0px 144px;
  }

  .tabs-section__top {
    margin-bottom: 72px;

    .tabs-section__subtitle {
      margin-bottom: 24px;
    }

    .section__title {
      width: 14.35em;
      text-align: center;
    }
  }
}
