.tabs-section {
  .tabs-section__wrapper {
    padding: calc(66.5 * (100vw / 960)) 0px calc(72 * (100vw / 960));
  }

  .tabs-section__top {
    margin-bottom: calc(36 * (100vw / 960));

    .section__title {
      width: calc(660 * (100vw / 960));
      text-align: center;
    }
  }
}

@media screen and (max-width: 960px) {
  .tabs-section {
    .tabs-section__wrapper {
      padding-top: calc(72px + 18 * ((100vw - 768px) / 192));
      padding-bottom: calc(128px + 32 * ((100vw - 768px) / 192585));
    }

    .tabs-section__top {
      margin-bottom: calc(36px + 9 * ((100vw - 768px) / 192));

      .section__title {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .tabs-section {
    .tabs-section__wrapper {
      padding-top: calc(72px + 75 * ((100vw - 375px) / 392));
      padding-bottom: calc(128px + 134 * ((100vw - 375px) / 392));
    }

    .tabs-section__top {
      margin-bottom: calc(36px + 38 * ((100vw - 375px) / 392));
    }
  }
}
