.footer {
  position: relative;
  background-color: $heading-color;
  z-index: 120;
  margin-top: calc(-28 * (100vw / 960));

  border-top-left-radius: calc(28 * (100vw / 960));
  border-top-right-radius: calc(28 * (100vw / 960));

  .footer__wrapper {
    padding-top: calc(32 * (100vw / 960));
    padding-bottom: calc(12 * (100vw / 960));
  }

  a {
    display: block;
    color: #fff;

    transition: all 0.3s linear;

    &:focus,
    &:hover {
      color: $theme-color;
    }
  }

  svg {
    fill: $theme-color;
  }

  .footer__top {
    margin-bottom: calc(32 * (100vw / 960));

    .footer__actions {
      display: flex;
      align-items: stretch;
      gap: calc(6 * (100vw / 960));
    }
  }

  .footer__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin-bottom: calc(36 * (100vw / 960));

    .footer__column {
      display: flex;
      flex-direction: column;
    }

    .footer__menu {
      width: calc(367 * (100vw / 960));

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: calc(2 * (100vw / 960));
      }

      a {
        font-family: "Manrope", sans-serif;
        font-size: calc(24 * (100vw / 960));
        font-weight: 500;
        font-style: normal;
        line-height: 133%;
        letter-spacing: -0.05em;
        text-decoration: none;
      }
    }

    .footer__block {
      .footer__block-title {
        display: flex;
        align-items: center;

        margin-bottom: calc(4 * (100vw / 960));

        line-height: normal;
        letter-spacing: -0.02em;

        color: rgba($color: #fff, $alpha: 0.6);

        svg {
          margin-right: calc(2 * (100vw / 960));
          width: calc(12 * (100vw / 960));
          height: calc(12 * (100vw / 960));
        }
      }
    }

    .footer__address {
      .footer__address-text {
        width: calc(126.5 * (100vw / 960));
        color: #fff;

        line-height: normal;
        letter-spacing: -0.02em;
      }
    }

    .footer__phone,
    .footer__email {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      svg {
        width: calc(10.5 * (100vw / 960));
        height: calc(10.5 * (100vw / 960));
        margin-right: calc(4 * (100vw / 960));
      }

      a {
        font-size: calc(10.5 * (100vw / 960));
        line-height: normal;
        text-decoration: none;
      }
    }

    .footer__contact {
      .footer__schedule {
        margin-top: calc(4 * (100vw / 960));

        color: rgba($color: #fff, $alpha: 0.6);
      }

      .footer__phone + .footer__email {
        margin-top: calc(6 * (100vw / 960));
      }

      & + .footer__contact {
        margin-top: calc(8 * (100vw / 960));
      }
    }

    .footer__address-contact {
      width: calc(219.5 * (100vw / 960));

      justify-content: space-between;
    }

    .footer__contacts {
      width: calc(274.5 * (100vw / 960));
    }
  }

  .footer__bottom {
    padding-top: calc(12 * (100vw / 960));

    border-top: calc(0.5 * (100vw / 960)) solid $border-color;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a,
    p {
      color: rgba($color: #fff, $alpha: 0.6);
    }
  }
}

@media screen and (max-width: 960px) {
  //calc(15px + 7.5 * ((100vw - 375px) / 585))

  .footer {
    margin-top: calc(-28px - 44 * ((100vw - 375px) / 585));

    border-top-left-radius: calc(15px + 23 * ((100vw - 375px) / 585));
    border-top-right-radius: calc(15px + 23 * ((100vw - 375px) / 585));

    .footer__wrapper {
      padding-top: calc(56px + 87 * ((100vw - 375px) / 585));
      padding-bottom: calc(16px + 25 * ((100vw - 375px) / 585));
    }

    .footer__top {
      margin-bottom: calc(36px + 56 * ((100vw - 375px) / 585));

      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .footer__actions {
        display: flex;
        align-items: stretch;
        gap: calc(8px + 13 * ((100vw - 375px) / 585));
        margin-top: calc(24px + 37 * ((100vw - 375px) / 585));
      }

      .logo__image {
        border-right: calc(1px + 2 * ((100vw - 375px) / 585)) solid
          rgba($color: #fff, $alpha: 0.4);
        padding-right: calc(12px + 19 * ((100vw - 375px) / 585));
      }

      .logo__tagline {
        width: 100%;
        display: inline-block;
        font-size: calc(13px + 20 * ((100vw - 375px) / 585));
        margin-left: calc(12px + 19 * ((100vw - 375px) / 585));
      }
    }

    .footer__content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      margin-bottom: calc(36px + 56 * ((100vw - 375px) / 585));

      .footer__menu {
        width: 100%;
        margin-bottom: calc(36px + 56 * ((100vw - 375px) / 585));

        ul {
          gap: calc(12px + 19 * ((100vw - 375px) / 585));
        }

        a {
          font-size: calc(32px + 50 * ((100vw - 375px) / 585));
        }
      }

      .footer__block {
        width: 100%;

        .footer__block-title {
          margin-bottom: calc(8px + 12 * ((100vw - 375px) / 585));

          svg {
            margin-right: calc(8px + 12 * ((100vw - 375px) / 585));
            width: calc(21px + 33 * ((100vw - 375px) / 585));
            height: calc(21px + 33 * ((100vw - 375px) / 585));
          }
        }
      }

      .footer__address {
        .footer__address-text {
          width: calc(304px + 474 * ((100vw - 375px) / 585));
        }
      }

      .footer__phone,
      .footer__email {
        svg {
          width: calc(21px + 33 * ((100vw - 375px) / 585));
          height: calc(21px + 33 * ((100vw - 375px) / 585));
          margin-right: calc(8px + 12 * ((100vw - 375px) / 585));
        }

        a {
          font-size: calc(18px + 28 * ((100vw - 375px) / 585));
        }
      }

      .footer__contact {
        .footer__schedule,
        .footer__phone + .footer__email {
          margin-top: calc(8px + 12 * ((100vw - 375px) / 585));
        }

        & + .footer__contact {
          margin-top: calc(12px + 19 * ((100vw - 375px) / 585));
        }
      }

      .footer__address-contact,
      .footer__contacts {
        width: 100%;
      }

      .footer__address-contact {
        margin-bottom: calc(40px + 62 * ((100vw - 375px) / 585));
        gap: calc(12px + 19 * ((100vw - 375px) / 585));
      }
    }

    .footer__bottom {
      padding-top: calc(16px + 25 * ((100vw - 375px) / 585));
      border-width: calc(1px + 2 * ((100vw - 375px) / 585));

      font-size: calc(12px + 19 * ((100vw - 375px) / 585));
      line-height: normal;

      .footer__rights-reserved {
        width: calc(114px + 190 * ((100vw - 375px) / 585));
      }

      .footer__developer-link {
        order: 1;
        flex-shrink: 0;
      }

      .footer__privacy-policies {
        order: 2;
        width: calc(102px + 159 * ((100vw - 375px) / 585));
      }
    }
  }
}
