.reviews {
  position: relative;

  &::after {
    display: block;
    content: "";

    position: absolute;

    right: 0;
    top: calc(99.5 * (100vw / 960));

    width: calc(251 * (100vw / 960));
    height: calc(463 * (100vw / 960));

    background-color: $theme-color;

    border-top-left-radius: calc(12.5 * (100vw / 960));
    border-bottom-left-radius: calc(12.5 * (100vw / 960));

    z-index: -1;
  }

  .reviews__wrapper {
    padding-top: calc(67.5 * (100vw / 960));
    padding-bottom: calc(72 * (100vw / 960));
  }

  .reviews__top {
    margin-bottom: calc(4 * (100vw / 960));
  }

  .reviews__content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .reviews__reviews-swiper {
      width: calc(421 * (100vw / 960));
    }

    .reviews__certifications-swiper {
      width: calc(317 * (100vw / 960));
    }
  }

  .review__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .author__avatar {
      margin-right: calc(9 * (100vw / 960));
    }

    img {
      width: calc(36 * (100vw / 960));
      height: calc(36 * (100vw / 960));

      border-radius: 100%;
    }

    .author__name {
      margin-bottom: 2px;
      font-family: "Manrope", sans-serif;
      font-size: calc(9 * (100vw / 960));
      font-weight: 600;
      font-style: normal;
      line-height: 133%;
      letter-spacing: -0.05em;
      color: $heading-color;
    }

    .author__job-position {
      font-family: "Manrope", sans-serif;
      font-size: calc(9 * (100vw / 960));
      font-weight: 500;
      font-style: normal;
      line-height: 133%;
      letter-spacing: -0.05em;
      color: $text-color;
    }
  }

  .reviews__reviews-swiper {
    .swiper-bullets {
      margin-bottom: calc(18 * (100vw / 960));
    }

    .review__text {
      margin-bottom: calc(38 * (100vw / 960));
    }

    .review__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .reviews__certifications-swiper {
    width: calc(317 * (100vw / 960));

    .swiper-slide {
      width: 100%;
    }

    img {
      width: 100%;
      height: calc(399 * (100vw / 960));

      border-radius: calc(12.5 * (100vw / 960));
    }
  }
}

@media screen and (max-width: 960px) {
  .reviews {
    &::after {
      right: 0;
      left: 0;
      top: auto;
      bottom: calc(75px + 192 * ((100vw - 375px) / 585));

      width: 100%;
      height: calc(418px + 652 * ((100vw - 375px) / 585));

      border-radius: calc(15px + 23 * ((100vw - 375px) / 585));
    }

    .reviews__wrapper {
      padding-top: calc(72px + 36 * ((100vw - 375px) / 585));
      padding-bottom: calc(128px + 200 * ((100vw - 375px) / 585));
    }

    .reviews__top {
      margin-bottom: calc(20px + 31 * ((100vw - 375px) / 585));
    }

    .reviews__content {
      width: 100%;

      flex-direction: column;
      align-items: flex-start;

      .reviews__reviews-swiper,
      .reviews__certifications-swiper {
        width: 100%;
      }

      .reviews__reviews-swiper {
        margin-bottom: calc(36px + 56 * ((100vw - 375px) / 585));
      }
    }

    .swiper-navigation-button {
      width: calc(56px + 87 * ((100vw - 375px) / 585));
      height: calc(56px + 87 * ((100vw - 375px) / 585));
      flex-shrink: 0;

      svg {
        width: calc(12px + 19 * ((100vw - 375px) / 585));
        height: calc(9px + 14 * ((100vw - 375px) / 585));
      }
    }

    .review__author {
      width: 100%;
      .author__avatar {
        margin-right: calc(12px + 19 * (100vw - 375px) / 585);
      }

      img {
        width: calc(64px + 100 * (100vw - 375px) / 585);
        height: calc(64px + 100 * (100vw - 375px) / 585);

        border-radius: 100%;
      }

      .author__name {
        font-size: calc(15px + 23 * (100vw - 375px) / 585);
      }

      .author__job-position {
        font-size: calc(15px + 23 * (100vw - 375px) / 585);
        line-height: 130%;
      }
    }

    .reviews__reviews-swiper {
      .swiper-bullets {
        margin-bottom: 0px;
      }

      .swiper-wrapper {
        margin-bottom: calc(24px + 37 * (100vw - 375px) / 585);
      }

      .review__text {
        margin-bottom: calc(16px + 25 * (100vw - 375px) / 585);
      }

      .reviews__item {
        .reviews__navigation {
          display: none;
        }
      }
    }

    .reviews__certifications-swiper {
      width: 100%;

      img {
        width: 100%;
        height: calc(437px + 682 * (100vw - 375px) / 585);

        border-radius: calc(25px + 39 * (100vw - 375px) / 585);
      }
    }
  }
}
