.btn {
  font-family: "Manrope", sans-serif;
  font-size: calc(8 * (100vw / 960));
  line-height: 150%;
  font-weight: bold;
  letter-spacing: -0.02em;

  border: none;
  cursor: pointer;

  &.btn--accent--big {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $accent-color;

    font-size: calc(10.5 * (100vw / 960));
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -0.03em;

    width: calc(128.5 * (100vw / 960));
    height: calc(128.5 * (100vw / 960));

    border-radius: 100%;
    text-align: left;

    color: $heading-color;
    transition: all 0.3s linear;

    .btn__content {
      width: calc(68 * (100vw / 960));
    }

    svg {
      display: inline;

      margin: 0px calc(4 * (100vw / 960));
      stroke: $heading-color;
      transition: all 0.3s linear;

      width: calc(7.5 * (100vw / 960));
      height: calc(7 * (100vw / 960));
    }

    &:hover,
    &:focus {
      background-color: $theme-color;
      color: #fff;

      svg {
        stroke: #fff;
      }
    }
  }

  &.btn--main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: calc(4 * (100vw / 960));

    border-radius: calc(25 * (100vw / 960));

    background-color: $theme-color;
    color: #fff;
    transition: all 0.3s linear;

    .btn__text {
      padding: 0px calc(10.5 * (100vw / 960));
    }

    .btn__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: calc(21 * (100vw / 960));
      height: calc(21 * (100vw / 960));

      background-color: #fff;
      border-radius: 100%;

      svg {
        stroke: $theme-color;
        width: calc(8 * (100vw / 960));
        height: calc(6 * (100vw / 960));
        transition: all 0.3s linear;
      }
    }

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $heading-color;

      svg {
        stroke: $accent-color;
      }
    }
  }

  &.btn--secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: calc(4 * (100vw / 960)) calc(6 * (100vw / 960));

    border-radius: calc(25 * (100vw / 960));

    background-color: $heading-color;
    color: #fff;
    transition: all 0.3s linear;

    .btn__text {
      padding: 0px calc(10.5 * (100vw / 960));
    }

    .btn__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: calc(21 * (100vw / 960));
      height: calc(21 * (100vw / 960));

      background-color: #fff;
      border-radius: 100%;

      svg {
        stroke: $theme-color;
        width: calc(8 * (100vw / 960));
        height: calc(6 * (100vw / 960));
        transition: all 0.3s linear;
      }
    }

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $heading-color;

      svg {
        stroke: $accent-color;
      }
    }
  }

  &.btn--icon {
    padding: calc(4 * (100vw / 960)) calc(12 * (100vw / 960));
    background-color: #fff;
    border-radius: calc(50 * (100vw / 960));

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s linear;

    svg {
      height: calc(10.5 * (100vw / 960));
      width: auto;

      fill: $theme-color;
      transition: all 0.3s linear;
    }

    &:hover,
    &:focus {
      background-color: $theme-color;

      svg {
        fill: #fff;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .btn {
    font-size: calc(16px + 4 * ((100vw - 768px) / 192));
    line-height: 185%;

    &.btn--accent--big {
      font-size: calc(16px + 4 * ((100vw - 768px) / 192));

      width: calc(180px + 45 * ((100vw - 768px) / 192));
      height: calc(180px + 45 * ((100vw - 768px) / 192));

      .btn__content {
        width: calc(100px + 25 * ((100vw - 768px) / 192));
      }

      svg {
        margin: 0px calc(6px + 2 * ((100vw - 768px) / 192));

        width: calc(9px + 2 * ((100vw - 768px) / 192));
        height: calc(9px + 2 * ((100vw - 768px) / 192));
      }
    }

    &.btn--secondary,
    &.btn--main {
      padding-top: calc(6px + 2 * ((100vw - 768px) / 192));
      padding-bottom: calc(6px + 2 * ((100vw - 768px) / 192));

      padding-right: calc(4px + 1 * ((100vw - 768px) / 192));
      padding-left: calc(4px + 1 * ((100vw - 768px) / 192));

      border-radius: calc(250px + 63 * ((100vw - 768px) / 192));

      .btn__text {
        padding: 0px calc(21px + 5 * ((100vw - 768px) / 192));
      }

      .btn__icon {
        width: calc(36px + 9 * ((100vw - 768px) / 192));
        height: calc(36px + 9 * ((100vw - 768px) / 192));

        svg {
          width: calc(14px + 4 * ((100vw - 768px) / 192));
          height: calc(10px + 3 * ((100vw - 768px) / 192));
        }
      }
    }

    &.btn--icon {
      padding-top: calc(6px + 2 * ((100vw - 768px) / 192));
      padding-bottom: calc(6px + 2 * ((100vw - 768px) / 192));
      padding-right: calc(24px + 6 * ((100vw - 768px) / 192));
      padding-left: calc(24px + 6 * ((100vw - 768px) / 192));

      border-radius: calc(250px + 63 * ((100vw - 768px) / 192));

      svg {
        height: calc(22px + 6 * ((100vw - 768px) / 192));
      }
    }

    &.btn--phone {
      text-decoration: none;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      gap: calc(12px + 3 * ((100vw - 768px) / 192));

      padding-top: calc(12px + 3 * ((100vw - 768px) / 192));
      padding-bottom: calc(12px + 3 * ((100vw - 768px) / 192));
      padding-left: calc(16px + 4 * ((100vw - 768px) / 192));
      padding-right: calc(24px + 6 * ((100vw - 768px) / 192));

      border: calc(1px + 1 * ((100vw - 768px) / 192)) solid
        rgba($border-color, 0.5);
      border-radius: calc(250px + 63 * ((100vw - 768px) / 192));

      svg {
        fill: $theme-color;
      }

      .btn__text {
        color: $theme-color;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .btn {
    font-size: calc(13px + 14 * ((100vw - 375px) / 392));

    &.btn--accent--big {
      font-size: calc(15px + 15.68 * ((100vw - 375px) / 392));

      width: calc(180px + 188 * ((100vw - 375px) / 392));
      height: calc(180px + 188 * ((100vw - 375px) / 392));

      .btn__content {
        width: calc(97px + 101 * ((100vw - 375px) / 392));
      }

      svg {
        margin: 0px calc(6px + 6 * ((100vw - 375px) / 392));

        width: calc(9px + 9 * ((100vw - 375px) / 392));
        height: calc(9px + 9 * ((100vw - 375px) / 392));
      }
    }

    &.btn--secondary,
    &.btn--main {
      padding-top: calc(6px + 6 * ((100vw - 375px) / 392));
      padding-bottom: calc(6px + 6 * ((100vw - 375px) / 392));

      padding-right: calc(4px + 4 * ((100vw - 375px) / 392));
      padding-left: calc(4px + 4 * ((100vw - 375px) / 392));

      border-radius: calc(250px + 261 * ((100vw - 375px) / 392));

      .btn__text {
        padding: 0px calc(21px + 22 * ((100vw - 375px) / 392));
      }

      .btn__icon {
        width: calc(36px + 38 * ((100vw - 375px) / 392));
        height: calc(36px + 38 * ((100vw - 375px) / 392));

        svg {
          width: calc(14px + 15 * ((100vw - 375px) / 392));
          height: calc(10px + 11 * ((100vw - 375px) / 392));
        }
      }
    }

    &.btn--icon {
      padding-top: calc(6px + 6 * ((100vw - 375px) / 392));
      padding-bottom: calc(6px + 6 * ((100vw - 375px) / 392));
      padding-right: calc(24px + 25 * ((100vw - 375px) / 392));
      padding-left: calc(24px + 25 * ((100vw - 375px) / 392));

      border-radius: calc(250px + 261 * ((100vw - 375px) / 392));

      svg {
        height: calc(18px + 19 * ((100vw - 375px) / 392));
      }
    }

    &.btn--phone {
      gap: calc(12px + 13 * ((100vw - 375px) / 392));

      padding-top: calc(12px + 13 * ((100vw - 375px) / 392));
      padding-bottom: calc(12px + 13 * ((100vw - 375px) / 392));
      padding-left: calc(16px + 17 * ((100vw - 375px) / 392));
      padding-right: calc(24px + 25 * ((100vw - 375px) / 392));

      border: calc(1px + 2 * ((100vw - 375px) / 392)) solid
        rgba($border-color, 0.5);
      border-radius: calc(250px + 261 * ((100vw - 375px) / 392));
    }
  }
}
