.btn {
  font-family: "Manrope", sans-serif;
  font-size: calc(14px + 0.104vw);
  line-height: 150%;
  font-weight: bold;
  letter-spacing: -0.02em;

  border: none;
  cursor: pointer;

  &.btn--accent--big {
    background-color: $accent-color;

    font-size: calc(1em + 0.15625vw);
    line-height: 130%;
    font-weight: 600;
    letter-spacing: -0.03em;

    width: 13.39vw;
    height: 13.39vw;

    min-width: 200px;
    min-height: 200px;

    padding: 0px 23.4%;

    border-radius: 100%;
    text-align: left;

    color: $heading-color;
    transition: all 0.3s linear;

    span {
      margin: 0px 8px;
    }

    svg {
      stroke: $heading-color;
      transition: all 0.3s linear;
    }

    &:hover,
    &:focus {
      background-color: $theme-color;
      color: #fff;

      svg {
        stroke: #fff;
      }
    }
  }

  &.btn--main {
    padding: 8px;

    border-radius: 50px;

    background-color: $theme-color;
    color: #fff;
    transition: all 0.3s linear;

    .btn__text {
      padding: 0px 1.09375vw;
    }

    .btn__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 2.1875vw;
      height: 2.1875vw;

      min-width: 32px;
      min-height: 32px;

      background-color: #fff;
      border-radius: 100px;

      svg {
        stroke: $theme-color;
        width: 16px;
        height: 12px;
        transition: all 0.3s linear;
      }
    }

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $heading-color;

      svg {
        stroke: $accent-color;
      }
    }
  }

  &.btn--secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 0.75em;

    border-radius: 50px;

    background-color: $heading-color;
    color: #fff;
    transition: all 0.3s linear;

    .btn__text {
      padding: 0px 1.09375vw;
    }

    .btn__icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 42px;
      height: 42px;

      background-color: #fff;
      border-radius: 100px;

      svg {
        stroke: $theme-color;
        width: 16px;
        height: 12px;
        transition: all 0.3s linear;
      }
    }

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $heading-color;

      svg {
        stroke: $accent-color;
      }
    }
  }

  &.btn--icon {
    padding: 0.42vw 1.25vw;
    background-color: #fff;
    border-radius: 100px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s linear;

    svg {
      height: 21px;
      width: auto;

      fill: $theme-color;
      transition: all 0.3s linear;
    }

    &:hover,
    &:focus {
      background-color: $theme-color;

      svg {
        fill: #fff;
      }
    }
  }
}

@media screen and (max-width: 1719px) {
  .btn {
    &.btn--accent--big {
      padding: 0px 15%;
    }
  }
}
