.tabs {
  width: 100%;
  display: flex;
  align-items: stretch;

  .tabs__items {
    display: flex;
    flex-direction: column;

    width: calc(420.5 * (100vw / 960));
  }

  .tabs__content {
    flex: 0 1 calc(438.5 * (100vw / 960));

    border: 1px solid rgba($color: #fff, $alpha: 0.6);
    border-top-right-radius: calc(12.5 * (100vw / 960));
    border-bottom-right-radius: calc(12.5 * (100vw / 960));
  }

  .tabs__tab {
    border-top: 1px solid rgba($color: #fff, $alpha: 0.6);
    color: rgba($color: #fff, $alpha: 0.6);

    padding: calc(10 * (100vw / 960)) calc(12 * (100vw / 960));
    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-height: calc(54 * (100vw / 960));

    cursor: pointer;
    transition: all 0.3s linear;

    &:hover,
    &:focus,
    &.active {
      background-color: $theme-color;
      color: #fff;
      border-color: $theme-color;
    }

    &:first-of-type {
      &:hover,
      &:focus,
      &.active {
        border-top-left-radius: calc(12.5 * (100vw / 960));
      }
    }

    &:last-of-type {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.6);

      &:hover,
      &:focus,
      &.active {
        border-color: $theme-color;
        border-bottom-left-radius: calc(12.5 * (100vw / 960));
      }
    }

    .tabs__name {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .tab__index {
      margin-right: calc(8 * (100vw / 960));

      font-family: "Euclid Circular A", sans-serif;

      font-size: calc(8 * (100vw / 960));
      font-weight: normal;
      font-style: normal;
      line-height: 140%;
      letter-spacing: -0.05em;

      text-transform: uppercase;
    }

    .tab__name {
      width: calc(201.5 * (100vw / 960));
    }
  }

  .tab__content {
    display: none;
    height: 100%;
    color: #fff;

    &.active {
      display: block;
    }

    .tab__image {
      img {
        display: block;
        border-top-right-radius: calc(14.5 * (100vw / 960));

        width: 100%;
        height: calc(231 * (100vw / 960));
        object-fit: cover;
      }
    }

    .tab__bottom {
      padding: calc(18 * (100vw / 960)) calc(16.5 * (100vw / 960));

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .tab__text {
      width: calc(324.5 * (100vw / 960));
      margin-bottom: calc(12 * (100vw / 960));

      font-family: "Manrope", sans-serif;
      font-size: calc(10.5 * (100vw / 960));
      font-weight: 500;
      font-style: normal;
      line-height: 133%;
      letter-spacing: -0.05em;
    }
  }
}
