.swiper {
  width: 100%;
  margin: 0;
  overflow: hidden;

  .swiper-wrapper {
    max-width: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
  }

  .swiper-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: calc(8 * (100vw / 960));
  }

  .swiper-navigation-button {
    width: calc(36 * (100vw / 960));
    height: calc(36 * (100vw / 960));

    border: 1px solid $heading-color;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    svg {
      stroke: $heading-color;
      width: calc(9 * (100vw / 960));
      height: calc(7 * (100vw / 960));
    }
  }

  .swiper-bullets {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: calc(4 * (100vw / 960));

    .swiper-pagination-bullet {
      width: calc(4 * (100vw / 960));
      height: calc(4 * (100vw / 960));

      background-color: $border-color;
      transition: all 0.3s linear;

      &.swiper-pagination-bullet-active {
        width: calc(6 * (100vw / 960));
        height: calc(6 * (100vw / 960));
      }
    }
  }

  .swiper-navigation-mobile {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .swiper {
    .swiper-navigation {
      gap: calc(6px + 9 * ((100vw - 375px) / 585));
    }

    .swiper-navigation-button {
      width: calc(48px + 75 * ((100vw - 375px) / 585));
      height: calc(48px + 75 * ((100vw - 375px) / 585));
      flex-shrink: 0;

      svg {
        width: calc(11px + 17 * ((100vw - 375px) / 585));
        height: calc(8px + 12 * ((100vw - 375px) / 585));
      }
    }

    .swiper-navigation-mobile {
      display: flex;
      width: 100%;
    }

    .swiper-bullets {
      align-items: center;
      justify-content: center;

      gap: calc(6px + 9 * ((100vw - 375px) / 585));

      .swiper-pagination-bullet {
        width: calc(8px + 13 * ((100vw - 375px) / 585));
        height: calc(8px + 13 * ((100vw - 375px) / 585));

        &.swiper-pagination-bullet-active {
          width: calc(8px + 13 * ((100vw - 375px) / 585));
          height: calc(8px + 13 * ((100vw - 375px) / 585));
        }
      }
    }
  }
}
