.text {
  .text-blue-color {
    color: $theme-color;
  }
}

.heading-1 {
  margin: 0px;
  font-family: "Euclid Circular A", sans-serif;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  line-height: 85%;
  letter-spacing: -5px;

  display: inline-flex;
  flex-direction: column;

  span {
    display: inline-block;

    &:nth-of-type(2n) {
      padding-left: 146px;
    }
  }
}

.text--small {
  margin: 0px;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
}
