.about-us {
  .about-us__wrapper {
    padding: calc(90 * (100vw / 960)) 0px;
  }

  .about-us__title {
    .heading-2 {
      display: inline-flex;
      flex-direction: column;

      span {
        display: inline-block;

        &:nth-of-type(2n) {
          padding-left: calc(141 * (100vw / 960));
        }
      }
    }
  }

  .about-us__subtitle {
    margin-top: calc(5.5 * (100vw / 960));
  }

  .about-us__content {
    display: flex;
    align-items: center;

    .about-us__image {
      width: calc(274.5 * (100vw / 960));
      height: calc(273.5 * (100vw / 960));

      img {
        display: block;
        border-radius: calc(12.5 * (100vw / 960));

        width: 100%;
        height: calc(295 * (100vw / 960));

        margin-top: calc(-1 * (21.5 * (100vw / 960)));
      }
    }

    .about-us__text {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      gap: calc(32 * (100vw / 960));

      p {
        max-width: calc(279.5 * (100vw / 960));
      }
    }
  }

  .about-us__statics {
    margin-top: calc(32 * (100vw / 960));

    .statics__item {
      gap: calc(8 * (100vw / 960));

      .statics__number {
        display: flex;
        align-items: flex-start;
        gap: calc(4 * (100vw / 960));
      }

      .statics__name {
        margin: 0px;
        font-family: "Manrope", sans-serif;
        font-size: calc(12 * (100vw / 960));
        font-weight: 600;
        font-style: normal;
        line-height: 130%;
        letter-spacing: -0.03em;

        color: $heading-color;
      }

      .statics__amount {
        margin: 0px;
        font-family: "Manrope", sans-serif;

        font-size: calc(60 * (100vw / 960));
        font-weight: 500;
        font-style: normal;
        line-height: 95%;
        letter-spacing: -0.03em;

        color: $theme-color;
      }

      .statics__description {
        width: 100%;
        border-top: 1px solid $border-color;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  //calc(15px + 7.5 * ((100vw - 375px) / 585))

  .about-us {
    .about-us__wrapper {
      padding: calc(72px + 36 * ((100vw - 375px) / 585)) 0px;
    }

    .about-us__title {
      margin-bottom: calc(16px + 25 * ((100vw - 375px) / 585));
      flex-direction: column;

      .heading-2 {
        display: inline-block;

        span {
          display: inline;

          &:nth-of-type(2n) {
            padding-left: 0;
          }
        }
      }
    }

    .about-us__subtitle {
      margin-top: 0px;
    }

    .about-us__content {
      flex-direction: column;
      align-items: flex-start;

      .about-us__image {
        width: 100%;
        height: calc(215px + 335.4 * ((100vw - 375px) / 585));

        order: 1;

        img {
          display: block;
          border-radius: calc(10px + 16 * ((100vw - 375px) / 585));

          width: 100%;
          height: 100%;

          object-fit: cover;

          margin-top: 0;
        }
      }

      .about-us__text {
        flex: 1 1 auto;

        order: 0;
        margin-bottom: calc(36px + 56 * ((100vw - 375px) / 585));

        gap: calc(16px + 25 * ((100vw - 375px) / 585));

        p {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    .about-us__statics {
      flex-direction: column;
      margin-top: calc(36px + 56 * ((100vw - 375px) / 585));

      gap: calc(24px + 37.44 * ((100vw - 375px) / 585));

      .statics__item {
        gap: calc(12px + 18.72 * ((100vw - 375px) / 585));

        .statics__number {
          display: flex;
          align-items: flex-start;
          gap: calc(4 * (100vw / 960));
        }

        .statics__name {
          font-size: calc(18px + 28 * ((100vw - 375px) / 585));
        }

        .statics__amount {
          font-size: calc(64px + 100 * ((100vw - 375px) / 585));
        }

        .statics__description {
          padding: calc(6px + 9.36 * ((100vw - 375px) / 585)) 0;
          border-top: 1px solid $border-color;
        }
      }
    }
  }
}
